body {
  font-family: "Avenir";
  background-color: #204a60;
}

/* div.container {
  padding-left: 0px;
} */

.container {
  /* margin-left: 300px;
  margin-right: 300px; */
  max-width: 1080px;
}

.navbar {
  padding-left: 0px;
  padding-right: 0px;
  text-align: right;
}

.alert {
  padding-left: 0px;
}

h1 {
  margin-bottom: 20.5px;
  font-weight: 500;
  font-size: 27px;
}

h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
}

h4 {
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}

.underline {
  height: 1px;
  width: 244px;
}

.git {
  width: 31px;
  height: 31px;
}

.tag {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  float: left;
  line-height: 28px;

  height: 29px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid;
  border-radius: 8px;

  margin-right: 8px;
}

h2:hover.white-link {
  color: lightgray;
}

a:hover {
  /* background-color: transparent; */
  text-decoration: none;
}

.link {
  color: rgba(256, 256, 256, 0.55);
}

.link:hover {
  color: rgba(256, 256, 256, 0.85);
}

.right-col {
  margin-left: 20px;
}

.left-col {
  padding-right: 25px;
}

.last-row {
  padding-left: 15px;
}

/* Light */
.light-header {
  color: rgba(256, 256, 256, 0.85);
}

.light-project-header {
  color: white;
}

.light-subheader {
  color: rgba(256, 256, 256, 0.74);
}

.light-underline {
  background-color: white;
}

.light-text {
  color: rgba(256, 256, 256, 0.74);
}

.light-tag {
  border-color: rgba(256, 256, 256, 0.74);
  color: rgba(256, 256, 256, 0.74);
}

/* Dark */
.dark-sec {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #204a60;
}

.dark-header {
  padding-top: 70px;
  color: rgb(74, 74, 74);
}

.dark-project-header {
  color: black;
}

.dark-subheader {
  color: rgb(120, 120, 120);
}

.dark-underline {
  background-color: rgb(72, 72, 72);
}

.dark-text {
  color: black;
}

.dark-tag {
  border-color: rgb(49, 72, 95);
  color: rgb(49, 72, 95);
}

/* .dark-git:last-child {
  display: none;
} */

.hover-git {
  display: none;
}

.dark-git:hover .hover-git {
  display: block;
}

.dark-git:hover .show-git {
  display: none;
}

/* Navbar */
.navbar {
  height: 90px;
  background-color: #102d3c;
}

.navbar-container {
  /* padding-right: 5px; */
  padding-left: 0px;
}

/* .navbar-header {
    float: left;
    padding: 15px;
    padding-left:70px;
    text-align: center;
    width: 100%;
} */

.navbar-brand {
  color: white;
  /* float:none; */
  margin-right: 30px;
  margin-left: 10px;
}

a:hover.navbar-brand {
  color: lightgray;
}

.nav-link.active {
  color: white;
}

.nav-link {
  color: rgba(256, 256, 256, 0.74);
  font-size: 16px;
  font-weight: 500;
  margin-left: 4px;
}

a:hover.nav-link {
  color: white;
}

.nav-menu {
  width: 25px;
  height: 18px;
  margin-top: 12px;
  margin-left: 15px;
}

.my-nav-item {
  padding-right: 12px;
  padding-left: 12px;
}

.nav-item-link {
  margin-right: 10px;
}

.nav-last-item {
  margin-right:30px;
  /* padding-right: 0px; */
}

.nav-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
}

.nav-email {
  margin-top: 1px;
  height: 13px;
}

.gr-icon {
  margin-top: 3px;
}

.alert {
  margin-bottom: 0px;
}

.body {
  background-color: white;
  padding-top: 90px;
}

/* About */
.about-text {
  /* padding-right: 25px; */
  max-width:530px;
  min-width:320px;
}

.top-about-text {
  padding-top: 32.5px;
}

.about-lower-text {
  padding-top: 8px;
}

.headshot {
  width: 100%;
  max-width: 500px;
  /* height: 372px; */
}

/* @media only screen and (max-width: 768px) {
    .headshot {
        float: left;
    }
} */

/* Work */
.top-proj {
  padding-top: 44.5px;
}

.last-row {
  margin-top: 0px;
}

.work-image {
  width: 532px;
}

.featured-proj {
  padding-top: 70px;
}

.featured-proj-head {
  padding-bottom: 20px;
}

.rc-featured-proj-head {
  padding-right: 0px;
}

.tr-featured-project-head {
  padding-left: 0px;
}

.featured-project-header {
  padding-bottom: 2px;
}

.subhead {
  margin-bottom: 16px;
}

.featured-proj-text {
  padding-left: 15px;
  padding-right: 13px;
}

.sat {
  width: 147px;
  height: 163px;
}

.header-img {
  /* height: 135px; */
  width: 100%;
  /* width: 200px; */
}

.proj-header {
  margin-left: 5px;
}

.dl-header {
  margin-left: 45px;
}

/* .book-proj-tags {
  margin-top: 20px;
} */

.normal-header {
  margin-left: 30px;
}

.socialize {
  width: 163px;
  height: 163px;
}

.socialize-img {
  width: 163px;
  margin-right: 25px;
}

/* Coded */
.coded {
  margin-top: 120px;
  background-color: #204a60;
  padding-top: 57px;
  padding-bottom: 57px;
}

.coded-img {
  width: 500px;
  /* height: 350px; */
}

.coded-text {
  padding-right: 25px;
}

.coded-tags {
  margin-top: 30px;
  padding-left: 15px;
}

/* Design */
.design {
  margin-bottom: 115px;
}

.tr-design {
  margin-top: 55px;
}

.tr-design-img {
  /* width: 370px; */
  height: 257px;
}

.br-design {
  margin-top:12px;
}

.br-design-img {
  /* width: 370px; */
  height: 415.5px;
}

.br-design-lg-img {
  /* width: 750px; */
  height: 415.5px;
}

/* Courses */
.course {
  background-color: rgba(16, 45, 60, 0.55);
  /* background-color: #102d3c; */
  padding-top: 22px;
  padding-left: 5px;
  margin-right: 6px;
  border-radius: 15px;
  height: 100px;
}

/* .course:hover {
  background-color: ;
} */

.course-row {
  padding-top: 55px;
  padding-left: 15px;
}

.course-head {
  padding-bottom: 30px;
}

.course-img {
  height: 45px;
}


.last-course {
  padding-right: 0px;
}

.couse-header {
  padding-bottom: 2px;
}

.no-rp {
  padding-right: 0px;
}

.no-lp {
  padding-left: 0px;
}

/* Books */
.books {
  margin-top: 80px;
}

.tr-books {
  margin-top: 55px;
}

.br-books {
  margin-top: 45px;
}

.col-book {
  margin-right: 36px;
}

.book {
  width: 190px;
  /* height: 304px; */
}

.amazon {
  width: 31px;
  height: 31px;
}

.book-tags {
  margin-top: 20px;
}

.m-book-tag {
  padding-left: 8px;
  margin-left: 4px;
}

.r-book-tag {
  padding-left: 4px;
  margin-left:8px;
  /* width: 80px; */
}

.book-tag {
  margin-right: 0px;
}
