body {
  font-family: "Avenir";
  background-color: #204a60;
}

.container {
  max-width: 1080px;
}

.alert {
  padding-left: 0px;
}

h1 {
  margin-bottom: 20.5px;
  font-weight: 500;
  font-size: 27px;
}

h2 {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 22px;
}

h4 {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}


/* Timeline */

.timeline {
    list-style: none;
    padding: 0px;
    position: relative;
    margin-bottom: 0px;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color:  #fff;
    z-index: 100;
    border-style: solid;
    border-width: 2px;
    border-color: #204a60;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.dark {
    background-color: #204a60 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        /* top: 16px; */
    }

    ul.timeline > li > .timeline-panel {
        float: right;
        margin-top: -16px;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}


/* EOT */
.underline {
  height: 1px;
  width: 244px;
}

.pub-underline {
  margin-bottom: 32.5px;
}

.work-underline {
  margin-bottom: 32.5px;
}

.center-icon {
  margin-top: -8px;
  width: 30px;
  height:30px;
}

.nn-center-icon {
  margin-top: -8px;
  width: 33px;
  height:33px;
}

.book-center-icon {
  margin-top: -8px;
  width: 28px;
  height:28px;
}

.git {
  width: 28px;
  height: 28px;
}

.app-icon {
  height: 30px;
}

.subheader {
  margin-top: 5px;
  margin-bottom: 15px;
}

.proj-right-tags {
  padding-left: 25px;
}

.tag {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  float: left;
  line-height: 30px;

  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid;
  border-radius: 8px;

  margin-right: 10px;
}

h2:hover.white-link {
  color: lightgray;
}

a:hover {
  text-decoration: none;
}

.link {
  color: rgba(256, 256, 256, 0.55);
}

.link:hover {
  color: rgba(256, 256, 256, 0.85);
}

.right-col {
  margin-left: 20px;
}

.left-col {
  padding-right: 25px;
}

.last-row {
  padding-left: 15px;
}

/* Light */
.light-header {
  color: rgba(256, 256, 256, 0.85);
}

.light-project-header {
  color: white;
}

.light-subheader {
  color: rgba(256, 256, 256, 0.74);
}

.light-underline {
  background-color: white;
}

.light-text {
  color: rgba(256, 256, 256, 0.74);
}

.light-tag {
  border-color: rgba(256, 256, 256, 0.74);
  color: rgba(256, 256, 256, 0.74);
}

/* Dark */
.dark-sec {
  padding-top: 70px;
  padding-bottom: 80px;
  background-color: #204a60;
}

.dark-header {
  padding-top: 70px;
  color: rgb(74, 74, 74);
}

.dark-project-header {
  color: black;
}

.dark-subheader {
  color: rgb(120, 120, 120);
}

.dark-underline {
  background-color: rgb(72, 72, 72);
}

.dark-text {
  color: black;
}

.dark-tag {
  border-color: rgb(49, 72, 95);
  color: rgb(49, 72, 95);
}

/* .dark-git:last-child {
  display: none;
} */

.hover-git {
  display: none;
}

.dark-git:hover .hover-git {
  display: block;
}

.dark-git:hover .show-git {
  display: none;
}

/* Navbar */
.navbar {
  height: 90px;
  background-color: #102d3c;
}

.navbar-brand {
  color: white;
}

a:hover.navbar-brand {
  color: lightgray;
}

.nav-link.active {
  color: white;
}

.nav-link {
  color: rgba(256, 256, 256, 0.74);
  font-size: 16px;
  font-weight: 500;
  margin-left: 4px;
}

a:hover.nav-link {
  color: white;
}

.nav-menu {
  width: 25px;
  height: 18px;
  margin-top: 12px;
  margin-left: 15px;
}

.my-nav-item {
  padding-right: 12px;
  padding-left: 12px;
}

.nav-item-link {
  margin-right: 10px;
}

.nav-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
}

.nav-email {
  margin-top: 1px;
  height: 13px;
}

.gr-icon {
  margin-top: 3px;
}

.alert {
  margin-bottom: 0px;
}

.body {
  background-color: white;
  padding-top: 70px;
}

/* About */
.about-text {
  max-width:530px;
  min-width:320px;
}

.top-about-text {
  padding-top: 32.5px;
}

.about-lower-text {
  padding-top: 8px;
}

.headshot {
  width: 100%;
}

/* Work */
/* .top-proj {
  padding-top: 44.5px;
}
*/

ol li {
  margin-bottom: 5px;
}

ol {
  padding-left: 25px;
  margin-bottom: 0px;
}

.work-exp {
  padding-top: 70px;
}

.work-subheader {
  margin-bottom: 25px;
}

.work-body {
  margin-bottom: -16px;
}

.work-tags {
  padding-top: 20px;
  padding-left: 15px;
}

.work-left-tag {
  margin-left: 8px;
}

/*
.subhead {
  margin-bottom: 0px;
}

.featured-proj-text {
  padding-left: 15px;
  padding-right: 13px;
}

.proj-header {
  margin-left: 5px;
} */

.project-back-img {
  margin-top: 20px;
}

.header-img {
  width: 100%;
}

.project-row {
  margin-top: 30px;
}

.project {
  padding: 30px;
  margin-left: 0px;
  
  margin-right: 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.project-back {
  display: none;
}

.project:hover .project-back {
  display: inline;
}

.project:hover .project-tags {
  padding-top: 20px;
}

.project-tags {
  padding-top: 0px;
  padding-left: 15px;
}

@media (max-width: 767px) {                  
  .project-back {
     display: inline;
  }
  .project-tags {
    padding-top: 20px;
  }
}


/* Coded */
.coded {
  margin-top:70px;
  background-color: #204a60;
  padding-top: 70px;
  padding-bottom: 70px;
}

.coded-img {
  width: 100%;
}

.coded-tags {
  margin-top: 30px;
  padding-left: 15px;
}


/* Design */
.design {
  margin-bottom: 115px;
}

.tr-design {
  margin-top: 55px;
}

.design-img {
  width: 100%;
}

.lg-design-img {
  max-height: 400px;
}

/* Courses */
.course {
  background-color: rgba(16, 45, 60, 0.55);
  padding-top: 22px;
  padding-left: 5px;
  margin-right: 6px;
  border-radius: 15px;
  height: 100px;
}

.course-row {
  padding-left: 15px;
}

.top-course-row {
  padding-top: 55px;
}

.course-head {
  padding-bottom: 30px;
}

.course-img {
  height: 45px;
}

.couse-header {
  padding-bottom: 2px;
}

.no-rp {
  padding-right: 0px;
}

.no-lp {
  padding-left: 0px;
}

/* Books */
.books {
  margin-top: 80px;
}

.tr-books {
  margin-top: 55px;
}

.br-books {
  margin-top: 45px;
}

.book {
  width: 100%;
}

.amazon {
  width: 31px;
  height: 31px;
}

.book-tags {
  margin-top: 20px;
}

.m-book-tag {
  padding-left: 8px;
  margin-left: 4px;
}

.r-book-tag {
  padding-left: 4px;
  margin-left:8px;
  /* width: 80px; */
}

.book-tag {
  margin-right: 0px;
}
